* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-one: "Inter", sans-serif;
  --colorOne: #00a86b;
  --colorTwo: #000000;
  --colorThree: #f2eae0;
  --colorFour: #ffffff;
}


#mainContent.blur {
  filter: blur(6px);
  pointer-events: none;
  user-select: none;
  transition: filter 0.3s ease;
 
}


.popup {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  font-family: var(--font-one);
}


.popup.show {
  opacity: 1;
  visibility: visible;
}

.popup-content {
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  width: 320px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  transform: scale(0.9);
  transition: transform 0.3s ease;
   list-style: none; 
}

ul, ol {
  list-style: none; 
  padding-left: 0;  
  margin: 0;       
 }

.popup.show .popup-content {
  transform: scale(1);
}


#acceptBtn {
  margin-top: 15px;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  color: white;

  background: gray;
  cursor: not-allowed;
  transition: all 0.25s ease;
}

#acceptBtn.active {
  background: var(--colorOne);
  cursor: pointer;
}


#acceptBtn.active:hover {
  background: #00995f;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0,168,107,0.3);
}


#acceptBtn.active:active {
  transform: scale(0.96);
}